<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: #e74c3c;
      }

      #canvas {
        position: relative;
        left: calc(50% - 390px);
        top: 50px;
        border: 1px dotted black;
        cursor: crosshair;
        background: #ecf0f1;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script>
      var connectionObjects = {};
      var canvas;
      var context;
      var isDrawing;
      var ws;

      function connectWs(params) {
        var host = window.location.host;
        var port = window.location.port;
        var ws_path = "{{ ws_path }}"
        ws = new WebSocket(`ws://${host}${ws_path}`);
        ws.onopen = () => {
          console.log("WebSocket connected");
        };
        ws.onmessage = (e) => {
          let wsData = JSON.parse(e.data);
          console.log(wsData);
        };
        ws.onclose = (e) => {
          console.log("WebSocket closed");
        };
      }
      function handleNewConnection(wsData) {
        if (!connectionObjects.hasOwnProperty(wsData.channel_name)) {
          connectionObjects[wsData.channel_name] = {
            lastX: null,
            lastY: null,
          };
        }
      }
      function getRandomHardColor() {
        const red = Math.floor(Math.random() * 256);
        const green = Math.floor(Math.random() * 256);
        const blue = Math.floor(Math.random() * 256);
        const saturation = "100%";
        const lightness = "30%";
        const color = `hsl(${red}, ${saturation}, ${lightness})`;
        return color;
      }
      const myColor = getRandomHardColor();
      window.onload = function () {
        connectWs();
        canvas = document.getElementById("canvas");
        context = canvas.getContext("2d");
        canvas.width = 780;
        canvas.height = 490;
        context.strokeStyle = myColor;
        context.lineWidth = 2;

        canvas.onmousedown = startDrawing;
        canvas.onmouseup = stopDrawing;
        canvas.onmousemove = draw;

        function drawLine(x1, y1, x2, y2) {
          context.beginPath();
          context.moveTo(x1, y1);
          context.lineTo(x2, y2);
          context.stroke();
        }
        function startDrawing(e) {
          isDrawing = true;
          var x = e.pageX - canvas.offsetLeft;
          var y = e.pageY - canvas.offsetTop;
          ws.send(
            JSON.stringify({
              cords: { x: x, y: y },
              is_drawing: isDrawing,
              color: myColor,
            })
          );
        }
        ws.onmessage = (e) => {
          let wsData = JSON.parse(e.data);
          handleNewConnection(wsData);
          context.strokeStyle = wsData.color;
          lastX = connectionObjects[wsData.channel_name].lastX;
          lastY = connectionObjects[wsData.channel_name].lastY;
          console.log(wsData);
          if (wsData.is_drawing) {
            let cords = wsData.cords;
            if (lastX !== null && lastY !== null) {
              drawLine(lastX, lastY, cords.x, cords.y);
            }
            connectionObjects[wsData.channel_name].lastX = cords.x;
            connectionObjects[wsData.channel_name].lastY = cords.y;
          } else {
            connectionObjects[wsData.channel_name].lastX = null;
            connectionObjects[wsData.channel_name].lastY = null;
          }
        };

        function draw(e) {
          if (isDrawing) {
            var x = e.pageX - canvas.offsetLeft;
            var y = e.pageY - canvas.offsetTop;
            ws.send(
              JSON.stringify({
                cords: { x: x, y: y },
                is_drawing: isDrawing,
                color: myColor,
              })
            );
          }
        }

        function stopDrawing() {
          isDrawing = false;
          ws.send(
            JSON.stringify({
              cords: { x: null, y: null },
              is_drawing: isDrawing,
              color: myColor,
            })
          );
        }
      };
    </script>
  </body>
</html>
