<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form action="/playground/" method="post">
        {% csrf_token %}
      <label for="name">Enter your name</label>
      <input type="text" id="name" name="name"/>
      <label for="playground"></label>
      <select id="playground" name="playground">
        {% for playground in playgrounds %}
        <option value="{{playground}}">{{playground}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
